*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

p {
		font-size: 1.2em;
}

 p, h1, h2, h3, h4, h5, h6 {
 	color: #555;
 	line-height: 1.7em;
 }

 .row .col.s6.texto-alinhado {
	 text-align: justify;
	 padding-right: 12em;
 }

 .carousel.carousel-slider .carousel-item p {
	 font-size: 1.2em;
 }

 .titulo-principal {
 	font-size: 1.7em;
	font-weight: 900;
	text-transform: uppercase;
 }

.container {
    width: 100%;
}

.btn {
	box-shadow: none;
	text-transform: none;
}

.btn:hover {
	box-shadow: none;
}

@media only screen and (max-width: 554px){
	.img-carousel img {
		display: none;
	}

	figure.img-bem-vindo {
		display: none;
	}

	.img-bem-vindo img{
		display: none;
	}

	.brand-logo {
		display: none;
	}

	.carousel .bangle {
		display: none;
	}
}

@media only screen and (min-width: 44em) {

}

@media only screen and (min-width: 66.25em) {

}

.topo {
	background-color: #fff;
	-webkit-box-shadow: 1px 3px 3px 0px rgba(37, 50, 50, 0.27);
	-moz-box-shadow:    1px 3px 3px 0px rgba(37, 50, 50, 0.27);
	box-shadow:         1px 3px 3px 0px rgba(37, 50, 50, 0.27);
}

.topo a {
	color: #555;
}

.brand-logo {
	font-family: 'Righteous', cursive;
	padding-left: .5em !important;
	bottom: .1em;
}

.brand-logo span {
	font-family: 'Original Surfer', cursive;
	font-size: 50%;
	position: relative;
	top: 1em;
	left: -5.2em;
}

.menu-principal {
	padding-right: 2em;
}

.social-topo {
	display: inline-block;
}

#nav-mobile a:hover {
		background-color: #f4f4f4;
}

#nav-mobile .active {
	background-color: #f4f4f4;
}

#nav-mobile .social-topo a:hover {
	background-color: transparent;
	color: #cdcdcd;
}

.side-nav .social-topo a {
	font-size: 1.2em;
	padding: 0;
}

.side-nav .social-topo a:hover {
	background-color: none;
}

.side-nav .social-topo a:first-child {
	margin-left: 32px;
}

/*Apresentação*/

div.carousel.carousel-slider.center.apresentacao.initialized {
	height: 400px;
}

.btn-veja-mais {
	top: -11em;
	left: 26.1em;
	border: 2px solid #fff;
}

.img-carousel {
	position: relative;
  left: 13em;
  top: 1em;
  max-width: 300px;
}

.carousel .bangle {
	position: absolute;
	left: 0;
	bottom: -1px;
}

.apresentacao {
	background-color: red;
	color: white;
}

.slides .bangle {
	position: absolute;
	right: -42px;
	bottom: -30px;
}

.carousel.carousel-slider .carousel-item .titulo-carousel {
	position: relative;
  left: 7em;
  top: -7.5em;
  color: #fff;
  font-weight: bold;
  font-size: 2.1em;
  text-transform: uppercase;
}

.descricao-carousel {
	position: relative;
	left: 12em;
  top: -14.5em;
}

.carousel .indicators {
    position: relative;
    left: 28.3em;
    right: 0;
    bottom: -14em;
    margin: 0;
}

/*Bem-Vindo*/
.welcome {
	height: 350px;
	background-color: #fff;
	color: #555;
}

.titulo-bem-vindo {
		text-transform: uppercase;
		font-size: 1.5em;
}

.descricao-bem-vindo {
	line-height: 1.7em;
}

.img-bem-vindo {
	bottom: -65px;
	left: 13em;
	position: relative;
	max-width: 300px;
}

.btn-bem-vindo {
	background-color: #fff;
	color: #555;
	border: 2px solid #555;
}

.btn-bem-vindo:hover {
	color: #fff;
	background-color: #555;
}

/*solucoes*/
.solucoes {
	height: 5em;
	background-color: #555;
	text-transform: uppercase;
	font-size: 150%;
	padding: 1.5em;
}

.solucoes div div p {
	float: right;
	color: #fff;
	font-weight: bold;
	letter-spacing: .25em;
}

.btn-solucoes {
	border: 2px solid #fff;
	background-color: #555;
	color: #fff;
	float: left;
}
.btn-solucoes:hover {
	background-color: #fff;
	color: #555;
}

/*Blockquote*/
.frases {
	height: 12em;
  background-color: #5acdd4;
  text-align: center;
	padding-top: 5em;
	margin: 0;
	border: 0;
}

.frases p {
	color: #fff;
}

.progresso {

}

#map {
        width: 100%;
        height: 400px;
        background-color: grey;
}

/*Rodapé*/
.rodape {
  background-color: #555;
}

.social-rodape {
  text-align: center;
  font-size: 2em;
  border: none;
}

.social-rodape a {
  padding-right: 1em;
  color: #808080;
}

.social-rodape a:hover {
	color: #fff;
}

.rodape-copyright {
  text-align: center;
}

.licesed-icons {
	font-size: 80%;
}
